# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-ssr/
*.local
deploy.zip

# AWS SAM
.aws-sam/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.*.local
